

{% extends 'destinos_colombia/base.html' %}
{% block content %}


    <div class="mb-3 row d-flex justify-content-center">
      <div class="col-sm-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre" placeholder="Nombres">
      </div>
      <div class="col-sm-3">
        <label for="apellidos" class="form-label">Apellidos</label>
        <input type="text" class="form-control" id="apellidos" placeholder="Apellidos">
      </div>
    </div>
    <div class="mb-3 row d-flex justify-content-center">
      <div class="col-sm-3">
        <label for="email" class="form-label">Dirección de correo Electrónico</label>
        <input type="email" class="form-control" id="email" placeholder="name@example.com">
      </div>
      <div class="col-sm-3">
        <label for="telefono" class="form-label">Teléfono</label>
        <input type="text" class="form-control" id="telefono" placeholder="Número de celular">
      </div>
    </div>


      <div class="form-floating">
        <div class="mb-3 row d-flex justify-content-center">
          <div class="col-sm-4">
            <label for="floatingSelect">Seleccione operación</label>
            <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
              <option selected>Seleccione una opción</option>
              <option value="1">Solicitud</option>
              <option value="2">Queja y/o reclamo</option>
              <option value="3">Sugerencia</option>
            </select>
            
          </div>
        </div>
      </div>  

      <div class="mb-3 row d-flex justify-content-center">
        <div class="col-sm-4">
          <label for="comentarios" class="form-label">Comentarios</label>
          <textarea class="form-control" id="comentarios" rows="7"></textarea>
        </div>
      </div>


      <script src="node_modules/jquery/dist/jquery.min.js"></script>
      <script src="node_modules/popper.js/dist/popper.min.js" ></script>
      <script src="node_modules/bootstrap/dist/js/bootstrap.min.js" ></script>

{% endblock %}