
{% extends 'destinos_colombia/base.html' %}
{% block content %}

        <div class="modal fade" id="static-matrimonios-info" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="static-info-matrimonios-Label" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="static-info-matrimonios-Label">Tipos de eventos</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <h5>Lorem ipsum</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vitae scelerisque nibh, at vehicula nisl.</p>
                <h5>Lorem ipsum</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vitae scelerisque nibh, at vehicula nisl.</p>
                <h5>Lorem ipsum</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vitae scelerisque nibh, at vehicula nisl.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="static-15Años-info" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="static-info-15Años-Label" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="static-info-15Años-Label">Tipos de eventos</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <h5>Lorem ipsum</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vitae scelerisque nibh, at vehicula nisl.</p>
                <h5>Lorem ipsum</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vitae scelerisque nibh, at vehicula nisl.</p>
                <h5>Lorem ipsum</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vitae scelerisque nibh, at vehicula nisl.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
              </div>
            </div>
          </div>
        </div>

        {% endblock %}