{% extends 'destinos_colombia/base.html' %}
{% block content %}
<div class="container">

      <p class="d-inline-flex gap-1">
        <a class="btn color" data-bs-toggle="collapse" href="#elegir" role="button" aria-expanded="false" aria-controls="elegir">¿Por qué elegirnos?</a>
        <button class="btn color" type="button" data-bs-toggle="collapse" data-bs-target="#ofrecen" aria-expanded="false" aria-controls="ofrecen">¿Qué servicios ofrecemos?</button>
        <button class="btn color" type="button" data-bs-toggle="collapse" data-bs-target="#pago" aria-expanded="false" aria-controls="pago">¿Cómo puedes pagar</button>
      </p>
      <div class="row">
        <div class="col-sm">
          <div class="collapse" id="elegir">
            <div class="card card-body">
              <h4>
                ¿Por qué elegirnos?
              </h4>
    
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque lacinia odio in est efficitur, nec semper nulla gravida. 
                Vivamus ullamcorper vitae tellus at tincidunt. Fusce euismod, nisl quis lobortis eleifend, odio dui luctus turpis, non accumsan purus felis quis nulla. 
                Quisque ut semper eros, vitae pellentesque lacus. Pellentesque aliquam, erat.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="collapse" id="ofrecen">
            <div class="card card-body">
              <h4>
                ¿Qué servicios ofrecemos?
              </h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque lacinia odio in est efficitur, nec semper nulla gravida. 
                Vivamus ullamcorper vitae tellus at tincidunt. Fusce euismod, nisl quis lobortis eleifend, odio dui luctus turpis, non accumsan purus felis quis nulla. 
                Quisque ut semper eros, vitae pellentesque lacus. Pellentesque aliquam, erat.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="collapse" id="pago">
            <div class="card card-body">
              <h4>
                ¿Cómo puedes pagar?
              </h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque lacinia odio in est efficitur, nec semper nulla gravida. 
                Vivamus ullamcorper vitae tellus at tincidunt. Fusce euismod, nisl quis lobortis eleifend, odio dui luctus turpis, non accumsan purus felis quis nulla. 
                Quisque ut semper eros, vitae pellentesque lacus. Pellentesque aliquam, erat.
              </p>
            </div>
          </div>
        </div>
      </div>




    <div class="d-flex flex-wrap flex-row">
      <div class="d-flex flex-column listaHot justify-content-between">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <span  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Ubicado cerca a la plaza de los cocheros">
              <img height="170px" width="200px" class="card-img-top" alt="Hotel img" src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/281442654.jpg?k=6f7e7888c2b1f3139d6f3e0a691922d5ae4f0b50bac2ca17a0e7098c3a46302d&o=&hp=1"/>
              </span>
              <h6 class="card-title">Cartagena urban royal</h6>
              <p class="card-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                  Nulla convallis blandit felis, sit amet bibendum massa imperdiet quis. 
                  In at auctor metus. Cras turpis ante, ultrices et quam ac, posuere.
              </p>
              <a id="btn-hotel-carta" class="btn btn-danger"><i class="bi bi-sunglasses"></i> Visitar hotel</a>
            </div>
          </div>
          <!-- <div>
            <button class="btn btn-danger"><i class="bi bi-sunglasses"></i> Visitar hotel</button>
          </div> -->
      </div>
          
      <div class="d-flex flex-column listaHot justify-content-between">
        <div class="card" style="width: 18rem;"> 
          <div class="card-body">
            <span  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Con caminatas y cabalgatas incluidas">
              <img class="card-img-top" alt="Hotel img" height="170px" width="200px" src="https://www.kayak.com.co/rimg/himg/43/14/2f/expediav2-4203341-3660686008-381084.jpg?width=968&height=968&crop=true"/>
            </span>
            <h6 class="card-title">La manigua lodge</h6>
            <p class="card-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                  Nulla convallis blandit felis, sit amet bibendum massa imperdiet quis. 
                  In at auctor metus. Cras turpis ante, ultrices et quam ac, posuere.
            </p>
            <a id="btn-hotel-manigua" class="btn btn-danger"><i class="bi bi-sunglasses"></i> Visitar hotel</a>
          </div>
        </div>
      </div>
      <div class="d-flex flex-column listaHot justify-content-between">
        <div class="card" style="width: 18rem;"> 
          <div class="card-body">
            <span  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Con pesca devportiva">
              <img class="card-img-top" alt="Hotel img" height="170px" width="200px" src="https://www.kayak.com.co/rimg/himg/5c/dc/b8/expediav2-3642429-1762176656-168883.jpg?width=968&height=607&crop=true"/>
            </span>
            <h6 class="card-title">Lodge paraiso verde manizales</h6>
            <p class="card-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                  Nulla convallis blandit felis, sit amet bibendum massa imperdiet quis. 
                  In at auctor metus. Cras turpis ante, ultrices et quam ac, posuere.
            </p> 
            <a id="btn-hotel-mani" class="btn btn-danger"><i class="bi bi-sunglasses"></i> Visitar hotel</a>
          </div>
        </div> 
      </div>
      <div class="d-flex flex-column listaHot justify-content-between">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <span  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Evento de música en vivo">
              <img class="card-img-top" alt="Hotel img" height="170px" width="200px" src="https://www.kayak.com.co/rimg/himg/af/42/4e/expediav2-407284-5d9012-047667.jpg?width=968&height=607&crop=true"/>
            </span>
            <h6 class="card-title">Ghl hotel Abadía plaza</h6>
            <p class="card-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                  Nulla convallis blandit felis, sit amet bibendum massa imperdiet quis. 
                  In at auctor metus. Cras turpis ante, ultrices et quam ac, posuere.
            </p>
                
                
            <a  id="btn-hotel-abadia" class="btn btn-danger"><i class="bi bi-sunglasses"></i> Visitar hotel</a> <!-- danger por brown -->
          </div>
        </div>
      </div> 
    </div>
    <div class="container">
      <div class="row">
        <div class="d-flex flex-column col-sm-12 centra">
          <button type="button" id="subs-btn" class="btn color" data-bs-toggle="modal" data-bs-target="#static-news">
            <i class="bi bi-newspaper"></i> Suscribirse para mas info
          </button>
        </div>
      </div>
    </div>

    <div class="modal fade" id="static-news" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="static-news-Label" aria-hidden="false">
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title" id="static-news-Label">Tipos de eventos</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="mb-3 row d-flex justify-content-left">
              <div class="col-sm-3">
                <label for="nombre" class="form-label">Nombre</label>
                  <input type="text" class="form-control" id="nombre" placeholder="Nombres">
              </div>
              <div class="col-sm-3">
                <label for="apellidos" class="form-label">Apellidos</label>
                  <input type="text" class="form-control" id="apellidos" placeholder="Apellidos">
              </div>
            </div>
            <div class="mb-3 row d-flex justify-content-left">
              <div class="col-sm-8">
                <label for="email" class="form-label">Dirección de correo Electrónico</label>
                <input type="email" class="form-control" id="email" placeholder="name@example.com">
              </div>
              <div class="col-sm-5">
                <label for="telefono" class="form-label">Teléfono</label>
                <input type="text" class="form-control" id="telefono" placeholder="Número de celular">
              </div>
            </div>
          </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-danger">Suscribirse</button>
            </div>
        </div>
      </div>
    </div>
    </div>

      <script>
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
      </script>

{% endblock %}