<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css" >
    <link rel="stylesheet" href="css/custom.css" >
    <link rel="stylesheet" href="css/main.css" >
    <link rel="stylesheet" href="node_modules/bootstrap-icons/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js">

    
    <title>Destinos Colombia</title>
  </head>
  <body>
    <h1 class="fondo" >Destinos Colombia</h1>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <div class="container-fluid">
      <a class="navbar-brand" href="./index.html"><i class="bi bi-airplane-fill"></i> Destinos Colombia</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="./index.html"> 
              Inicio
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./products.html">
              Productos
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./restaurants.html">
              Restaurantes
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./events.html">
              Eventos
            </a>
          </li>
        </ul>
      </div>
    </div>
    </nav>
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item" aria-current="page"><a href="./index.html">Inicio</a></li>
          <li class="breadcrumb-item active" aria-current="page">Precios</li>
        </ol>
      </nav>
    </div>
    
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" aria-current="false" data-bs-toggle="tab" id="precios-tab" href="#precios">Precios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#comentarios" data-bs-toggle="tab" id="comentarios-tab" aria-current="false">Comentarios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#tarjetas" data-bs-toggle="tab" id="tarjetas-tab" aria-current="false">Tarjetas</a>
      </li>
    </ul>

    
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="precios" role="tabpanel" aria-labelledby="precios-tab" tabindex="0">
          <div class="container">
            <div class="table-responsive">
              <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Estrellas</th>
                  <th scope="col">Ubicación</th>
                  <th scope="col">Precios</th>
                  <th scope="col">Estrellas</th>
                  <th scope="col">Ubicación</th>
                  <th scope="col">Precios</th>
                  <th scope="col">Estrellas</th>
                  <th scope="col">Ubicación</th>
                  <th scope="col">Precios</th>
                  <th scope="col">Estrellas</th>
                  <th scope="col">Ubicación</th>
                  <th scope="col">Precios</th>
                  <th scope="col">Estrellas</th>
                  <th scope="col">Ubicación</th>
                  <th scope="col">Precios</th>
                  <th scope="col">Estrellas</th>
                  <th scope="col">Ubicación</th>
                  <th scope="col">Precios</th>
                </tr>
              </thead>
              <tr>
                <th scope="col"><i class="bi bi-star"></i></th>
                <th scope="col">Armenia</th>
                <th scope="col">$60.000</th>
              </tr>
              <tr>
                <th scope="col"><i class="bi bi-star"></i><i class="bi bi-star"></i></th>
                <th scope="col">Armenia</th>
                <th scope="col">$100.000</th>
              </tr>
              <tr>
                <th scope="col"><i class="bi bi-star"></i><i class="bi bi-star"></i><i class="bi bi-star"></i></th>
                <th scope="col">Armenia</th>
                <th scope="col">$250.000</th>
              </tr>
              <tr>
                <th scope="col"><i class="bi bi-star"></i><i class="bi bi-star"></i><i class="bi bi-star"></i><i class="bi bi-star"></i></th>
                <th scope="col">Armenia</th>
                <th scope="col">$450.000</th>
              </tr>
              <tr>
                <th scope="col"><i class="bi bi-star"></i><i class="bi bi-star"></i><i class="bi bi-star"></i><i class="bi bi-star"></i><i class="bi bi-star"></i></th>
                <th scope="col">Armenia</th>
                <th scope="col">$600.000</th>
              </tr>
              <tr>
                <th scope="col"><i class="bi bi-star"></i></th>
                <th scope="col">Cartagena</th>
                <th scope="col">$60.000</th>
              </tr>
              <tr>
                <th scope="col"><i class="bi bi-star"></i><i class="bi bi-star"></i></th>
                <th scope="col">Cartagena</th>
                <th scope="col">$100.000</th>
              </tr>
              <tr>
                <th scope="col"><i class="bi bi-star"></i><i class="bi bi-star"></i><i class="bi bi-star"></i></th>
                <th scope="col">Cartagena</th>
                <th scope="col">$250.000</th>
              </tr>
              <tr>
                <th scope="col"><i class="bi bi-star"></i><i class="bi bi-star"></i><i class="bi bi-star"></i><i class="bi bi-star"></i></th>
                <th scope="col">Cartagena</th>
                <th scope="col">$450.000</th>
              </tr>
              <tr>
                <th scope="col"><i class="bi bi-star"></i><i class="bi bi-star"></i><i class="bi bi-star"></i><i class="bi bi-star"></i><i class="bi bi-star"></i></th>
                <th scope="col">Cartagena</th>
                <th scope="col">$600.000</th>
              </tr>
              
            </table>
            </div>  
          </div>
        </div>
        <div class="tab-pane fade show" id="tarjetas" role="tabpanel" aria-labelledby="comentarios-tab" tabindex="1">
          <div class="container ancho">
            <div class="accordion" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#tarjeta-basica" aria-expanded="true" aria-controls="collapseOne">
                    Tarjeta basica
                  </button>
                </h2>
                <div id="tarjeta-basica" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu quam ac mi dignissim hendrerit vel a augue. Maecenas lacinia.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#tarjeta-premium" aria-expanded="true" aria-controls="collapseTwo">
                    Tarjeta Premium
                  </button>
                </h2>
                <div id="tarjeta-premium" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu quam ac mi dignissim hendrerit vel a augue. Maecenas lacinia.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#tarjeta-gold" aria-expanded="true" aria-controls="collapseThree">
                    Tarjeta Gold
                  </button>
                </h2>
                <div id="tarjeta-gold" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu quam ac mi dignissim hendrerit vel a augue. Maecenas lacinia.
                  </div>
                </div>
              </div>
            </div>
           </div>
        </div>
        <div class="tab-pane fade show" id="comentarios" role="tabpanel" aria-labelledby="comentarios-tab" tabindex="1">
          <div class="container">
            <div class="mb-3 row d-flex justify-content-center">
              <div class="col-sm-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre" placeholder="Nombres">
              </div>
              <div class="col-sm-3">
                <label for="apellidos" class="form-label">Apellidos</label>
                <input type="text" class="form-control" id="apellidos" placeholder="Apellidos">
              </div>
            </div>
            <div class="mb-3 row d-flex justify-content-center">
              <div class="col-sm-3">
                <label for="email" class="form-label">Dirección de correo Electrónico</label>
                <input type="email" class="form-control" id="email" placeholder="name@example.com">
              </div>
              <div class="col-sm-3">
                <label for="telefono" class="form-label">Teléfono</label>
                <input type="text" class="form-control" id="telefono" placeholder="Número de celular">
              </div>
            </div>
            <div class="mb-3 row d-flex justify-content-center">
              <div class="col-sm-4">
                <label for="comentarios" class="form-label">Comentarios</label>
                <textarea class="form-control" id="comentarios" rows="7"></textarea>
              </div>
             
          </div>
          <div class="mb-3 row d-flex justify-content-center">
            <div class="col-sm-3">
              <button class="btn btn-danger" type="submit">Agregar comentario</button>
            </div>
          </div>
        </div>
      </div>



    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/popper.js/dist/popper.min.js" ></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js" ></script>
    

    <footer>
      <div class="container">
      <div class="row">
        <div class="col-sm-4 d-flex flex-column alinearDer">
          <a href="https://www.facebook.com/" padding-right class="links"><i class="bi bi-facebook"></i> Facebook</a>
          <a href="https://www.tiktok.com/" class="links"><i class="bi bi-tiktok"></i> Tik tok</a>
          <a href="https://www.Instagram.com/" class="links"><i class="bi bi-instagram"></i> Instagram</a>
        </div>
        <div class="col-sm-4 d-flex flex-column centrar">
          <address>
            <h4>Oficina Principal</h4>
            <p><i class="bi bi-building"></i> Calle 85 # 30-15, Bogota, Colombia</p>
            <p><i class="bi bi-telephone"></i> 3070758</p>
            <p><i class="bi bi-envelope-at"></i> destinosColombia@resorts.com</p>
          </address>
        </div>
        <div class="col-sm-4 d-flex flex-column alinearIz">
          <a href="https://www.facebook.com/" class="links">Nosotros</a>
          <a href="https://www.facebook.com/" class="links">Políticas</a>
          <a href="./custServ.html" class="links">Quejas y reclamos</a>
          <a href="https://www.facebook.com/" class="links">Trabaja con Nosotros</a>
          <a href="./precios.html" class="links">Precios</a>
        </div>
      </div>
    </div>
  </footer>
  <script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
  </script>
  </body>
</html>