{% extends 'destinos_colombia/base.html' %}
{% block content %}

    <div class="container">

        <div class="d-flex flex-wrap flex-row">
          <div class="d-flex flex-column listaHot justify-content-between">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <img class="card-img-top" alt="Hotel img" height="170px" width="200px" src="https://th.bing.com/th/id/R.940b1c4e18cd7ea1b939fbeda592e634?rik=FerS2VmzYhZSyg&pid=ImgRaw&r=0" width="300" height="200"/>
                <h6 class="card-title">Cartagena</h6>
                <p class="card-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Nunc iaculis mollis lectus, et consequat nunc sollicitudin id. Proin tempus pretium erat, quis condimentum nisl pulvinar gravida. Nullam et malesuada tellus.
                  Suspendisse pretium, erat eget fringilla eleifend, odio lacus sodales sapien, eget maximus justo lacus ac massa.
                </p>
                <button id="carta" type="button" aria-pressed="true" class="btn btn-danger"><i class="bi bi-sunglasses"></i> Visitar hotel</button>
              </div>
            </div>
          </div>

          <div class="d-flex flex-column listaHot justify-content-between">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <img class="card-img-top" alt="Hotel img" height="170px" width="200px" src="https://i.pinimg.com/originals/1a/fe/2f/1afe2fd6f7dce7372bbeae64a1ada588.jpg"/>
                <h6 class="card-title">Armenia</h6>
                <p class="card-text">
                  Fusce orci sem, venenatis et est vitae, euismod sollicitudin velit.
                  Proin eget lacus malesuada, congue leo tristique, commodo nibh. Sed nibh risus, hendrerit nec ultricies ac, bibendum et elit.
                  Interdum et malesuada fames ac ante ipsum primis in faucibus.
                  Quisque scelerisque quis ipsum eu consequat. Nam id purus mi. In a velit tellus. Proin id pulvinar metus
                </p>
                <a href="#" class="btn btn-danger"><i class="bi bi-sunglasses"></i> Visitar hotel</a>
              </div>
            </div>
          </div>
          <div class="d-flex flex-column listaHot justify-content-between">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <img class="card-img-top" alt="Hotel img" height="170px" width="200px" src="https://th.bing.com/th/id/R.707137e31333f8b8738b9c8122ea3d40?rik=gzityUmhqiQaYg&pid=ImgRaw&r=0"/>
                <h6 class="card-title">Caldas</h6>
                <p class="card-text">
                  Fusce orci sem, venenatis et est vitae, euismod sollicitudin velit.
                  Proin eget lacus malesuada, congue leo tristique, commodo nibh. Sed nibh risus, hendrerit nec ultricies ac, bibendum et elit.
                  Interdum et malesuada fames ac ante ipsum primis in faucibus.
                  Quisque scelerisque quis ipsum eu consequat. Nam id purus mi. In a velit tellus. Proin id pulvinar metus.
                </p>
                <a href="#" class="btn btn-danger"><i class="bi bi-sunglasses"></i> Visitar hotel</a>
              </div>
            </div>
          </div>
          <div class="d-flex flex-column listaHot justify-content-between">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <img class="card-img-top" alt="Hotel img" height="170px" width="200px" src="https://th.bing.com/th/id/OIP.9OdJsQxaecx9zopYT8f_wQHaE8?rs=1&pid=ImgDetMain"/>
                <h6 class="card-title">Ibague</h6>
                <p class="card-text">
                  Fusce orci sem, venenatis et est vitae, euismod sollicitudin velit.
                  Proin eget lacus malesuada, congue leo tristique, commodo nibh. Sed nibh risus, hendrerit nec ultricies ac, bibendum et elit.
                  Interdum et malesuada fames ac ante ipsum primis in faucibus.
                  Quisque scelerisque quis ipsum eu consequat. Nam id purus mi. In a velit tellus. Proin id pulvinar metus.
                </p>
                <a href="#" class="btn btn-danger"><i class="bi bi-sunglasses"></i> Visitar hotel</a>
              </div>
            </div>
          </div>
        </div>

          <div class="d-flex flex-wrap flex-row">
            <div class="d-flex flex-column listaHot justify-content-between">
              <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <img class="card-img-top" alt="Hotel img" height="170px" width="200px" src="https://foodandpleasure.com/wp-content/uploads/2018/06/piantao-3.jpg"/>
                  <h6 class="card-title">Girardot</h6>
                  <p class="card-text">
                    Fusce orci sem, venenatis et est vitae, euismod sollicitudin velit.
                    Proin eget lacus malesuada, congue leo tristique, commodo nibh. Sed nibh risus, hendrerit nec ultricies ac, bibendum et elit.
                    Interdum et malesuada fames ac ante ipsum primis in faucibus.
                    Quisque scelerisque quis ipsum eu consequat. Nam id purus mi. In a velit tellus. Proin id pulvinar metus.
                  </p>
                  <a href="#" class="btn btn-danger"><i class="bi bi-sunglasses"></i> Visitar hotel</a>
                </div>
              </div>
            </div>
            <div class="d-flex flex-column listaHot justify-content-between">
              <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <img class="card-img-top" alt="Hotel img" height="170px" width="200px" src="https://i.blogs.es/177703/botania/1366_2000.jpg"/>
                  <h6 class="card-title">Santa Marta</h6>
                  <p class="card-text">
                    Fusce orci sem, venenatis et est vitae, euismod sollicitudin velit.
                    Proin eget lacus malesuada, congue leo tristique, commodo nibh. Sed nibh risus, hendrerit nec ultricies ac, bibendum et elit.
                    Interdum et malesuada fames ac ante ipsum primis in faucibus.
                    Quisque scelerisque quis ipsum eu consequat. Nam id purus mi. In a velit tellus. Proin id pulvinar metus.
                  </p>
                  <a href="#" class="btn btn-danger"><i class="bi bi-sunglasses"></i> Visitar hotel</a>
                </div>
              </div>
            </div>
            <div class="d-flex flex-column listaHot justify-content-between">
              <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <img class="card-img-top" alt="Hotel img" height="170px" width="200px" src="https://th.bing.com/th/id/R.ee5c036801533b813cd3a282ec8a7b44?rik=rRVkcRMaw08iMQ&pid=ImgRaw&r=0"/>
                  <h6 class="card-title">Guajira</h6>
                  <p class="card-text">
                    Fusce orci sem, venenatis et est vitae, euismod sollicitudin velit.
                    Proin eget lacus malesuada, congue leo tristique, commodo nibh. Sed nibh risus, hendrerit nec ultricies ac, bibendum et elit.
                    Interdum et malesuada fames ac ante ipsum primis in faucibus.
                    Quisque scelerisque quis ipsum eu consequat. Nam id purus mi. In a velit tellus. Proin id pulvinar metus
                  </p>
                  <a href="#" class="btn btn-danger"><i class="bi bi-sunglasses"></i> Visitar hotel</a>
                </div>
              </div>
            </div>
          </div>





    </div>

{% endblock %}