.header{
  background: linear-gradient( to bottom, #137015, #3f10A3);      /* #3f10A3 */
  color: white;
  text-align: center;
  padding-top: 70px;
  margin-bottom: 0px;
}
.listaHot{
  flex: 1 150px;
  padding: 2px 7px 2px 7px;
}
footer{
  padding: 20px 10px 0px 10px;
  background-color: #4D046A;
  margin-bottom: 0px;
  margin-top: 0;
  text-align: center;
  color: #CCB5D0;
  align-items:flex-start;
  
}

.body {
background: linear-gradient(to bottom, #320D81, #52085D); /* #52085D */
color: #CCB5D0;
}

.links{
    color: #CCB5D0;
}
.alinearDer{
  align-items: flex-end;
}
.alinearIz{
  align-items: flex-start;
}
.centrar{
  align-items: center;
  padding-left: 100px;
  margin-bottom: 2px;
}
p{
  justify-content: left;
  text-align: left;
}
.ancho{
  width: 700px;
}

.color{
  color:white;
  background-color:#1467Bx1;

}
.centra{
  align-items: center;
}

.pad{
  padding: 10px 10px 10px 10px;
}

.ima{
  height: 400px;
}
.dib{
  width: 60%;
  height: 400px;
  margin-left: 20%;
}

.dib1{
  width: 70%;
  margin-left: 15%;
  font-size: 18px;
  justify-content: center;
}



